    <h1><%= @dice %>d<%= @sides %></h1>

<a href="/process_roll?dice=<%= @dice %>&sides=<%= @sides %>">Roll again</a>
|
<a href="/">Go back home</a>

<ol>
  <% @rolls.each do |a_roll| %>
    <li>
      <em>Result:</em> <strong><%= rand(1..@sides) %></strong>
    </li>
  <% end %>
</ol>
